
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  /* altura maxima para body*/
  height: 100vh;
  /* fuente elegida */
  font-family: 'Roboto',
  sans-serif;
  /* fondito */
  background: white;
  display:flex;
}
.form_envoltorio
{
  width: 1000px;
  height: 700px;
  margin: auto;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5vw;
  padding: 5vh 15px;
}

#logo_izq{
  display: flex;
 
  justify-content: center;
  align-items: center;
}
#logo_izq img{
  width: 200px;
  height: 200px;
  transform: scale(1.50);
}

.form_derecha{
  display: grid;
  align-items: center;
  justify-content: center;
  margin-top: 20%;
  padding: 5% 5%;
  border-color: grey;
  border-width: 1px;
  border-style: solid;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24)
  
}
/* PARTE NOMBRE{*/
#form_nombre
{
    text-align: left;
    font-family: 'Roboto', sans-serif;
      font-size: 22px;
      margin-top: -5%;
}
#label_nombre{
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 20px;

}
#label_nombre:hover{
    background-color: var(--input_hover);
}
.input_nombre{

  display: block;
  width: 100%;
  padding: 8px 16px;
  line-height: 25px;
  margin-top: 25px;
  font-weight: 500;
  font-family: inherit;
  border-radius: 6px;
  color: black;
  border: 1px solid #CDD9ED;
  transition: border .3s ease;   
}
.input_nombre::placeholder{

    color: #CBD1DC ;
  
}
.input_nombre:focus
{
outline: none;}

/* } PARTE NOMBRE*/

/* CHECKS{*/
.label_checks
{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
    /*borra el checkbox default*/
.label_checks input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.label_checks:hover input ~ .check {
  background-color: #ccc;
}
.label_checks input:checked ~ .check {
  background-color:red;
}
.check:after
{
  content: "";
  position: absolute;
  display: none;
  
}
.label_checks input:checked ~ .check:after {
  display: block;
}

.label_checks .check:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  
}
/* } CHECKS*/

a {
  /* remove default underline */
  text-decoration: none;
  color: black;
  font-weight: bold;
}
a:hover {
  color: grey;
}

/* BANDERAS {*/
.bandera{
    width: 100%;
    height: 100%;
}
.bandera:hover
{
  border-color: black;
  background-color: white;
  transform: scale(1.25);
  transition: transform .25s ease
}
.column {
    float: left;
    width: 45%;
    padding: 10px;
  }
.row_banderas{
  content: "";
    clear: both;
    display: table;
  
    margin-left: 10%;
    margin-top: -20%;
  }
  /* } BANDERAS*/

/*FOOTER { */

footer{
    position: fixed;
    bottom: 0;
}  


@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer_index{
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: inherit;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
  display: inline-block;
  vertical-align: top;
}
.contenedor_footer_izq img
{
  width: 30%;
}



  @media screen and (max-width:768px) {

    /* make the layout  a single column and add some margin to the wrapper */
    .form_envoltorio {
        grid-template-columns: 1fr;
        margin-left: 10px;
        margin-right: 10px;
    }
    /* on small screen we don't display the image */
    #logo_izq {
        display: none;
    }
}


  

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}