* { margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background-color: whitesmoke;
 }
body { 
    font: 13px Helvetica, Arial;
     }
nav
{
    height: 10vh;
}
.container
{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}
.columna-izquierda
{
    flex: 1;
}
.columna-derecha
{
    flex: 4;
}


/*msg - container*/
.msg-container
{
    height: auto;
    background-color: white;
    
    
    padding: 20px;
    margin-top: 20px;
    border-radius: 0.5em;
    box-shadow: var(--subtle-shadow);
}

.msg-body
{
    height: 60vh;
}

form { 
    
    border-radius: 2em; 
    padding: 3px; 
    
    bottom: 0; 
    width: 100%; }

form input { 
    border: 1px grey; 
    padding: 10px;
    width: 60vw; 
    border-radius: 2em;
    margin-right: 0.5%; }

form button {
    border-radius: 1em;
    width: 10%;
    text-emphasis: bold;
    position: relative; 
    background:red;
    border: none; 
    padding: 10px; }

#boton_Audio
{
    background: white;
    background-position: center;
    height: 2.3em;
    width: 2.9em;
    background-size: 3em;
    background-image: url("botonAudio.ico");
    
}

#messages { 
     list-style-type: none; 
     margin: 0; 
     padding: 0; }

#messages li { 
    padding: 5px 10px; }
    
#messages li:nth-child(odd) { 
    background: #eee; }
/* msg - container */
